.product {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 270px;
	height: 350px;
	margin-top: 25px;
	margin-right: 23px;
	padding: 10px;
	background-color: #fff;
	vertical-align: top;
}

.product:nth-child(3n+1) {
	margin-right: 0;
}

.product-img {
	display: block;
}

.product-description {
	margin-top: 12px;
	font-family: Roboto, sans-serif;
	color: #333;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	font-style: italic;
	line-height: 18px; /* Приближение из-за подстановки шрифтов */
	text-align: left;
}

.product-description p {
	float: left;
	text-transform: uppercase;
}

.product-description h5 {
	float: right;
	font-family: Roboto, sans-serif;
	color: #333333;
	font-size: 18px; /* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	font-style: italic;
	text-align: right;
}
.product-description h6 {
	float: right;
	text-decoration: line-through;
	top: 150px;
	font-family: Roboto, sans-serif;
	color: #e24602;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	font-style: italic;
	text-align: right;
	margin-top: 8px;
	margin-left: 66px;
}
.product-description h7 {
	float: right;
	text-decoration: line-through;
	top: 150px;
	font-family: Roboto, sans-serif;
	color: #e24602;
	font-size: 14px; /* Приближение из-за подстановки шрифтов */
	font-weight: 900;
	font-style: italic;
	text-align: right;
	margin-top: 8px;
}

.product-description h5:after,
.product-description h6:after {
	display: block;
	content: '';
	clear: both;
}

.product-corner_new {
	position: absolute;
	background-image: url(img/icons/corner_new.png);
	width: 46px;
	height: 46px;
	top: 0;
	right: 0;
}

.product-corner_hot {
	position: absolute;
	background-image: url(img/icons/corner_hot.png);
	width: 46px;
	height: 46px;
	top: 0;
	right: 0;
}

.product-corner_text_new {
	position: absolute;
	top: 10px; 
	right: 6px;
	z-index: 2;
	font-family: Roboto, sans-serif;
	color: #ffffff;
	font-size: 9px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: left;
}

.product-corner_text_hot {
	position: absolute;
	top: 10px; 
	right: 6px;
	z-index: 3;
	font-family: Roboto,sans-serif;
	color: #000000;
	font-size: 9px; /* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: left;
}

