@charset "utf-8";
	
body {
	/*background-color: #f8f8f8; /* Фоновый цвет */
	background: url(../img/fon.png) no-repeat center fixed;
	background-size: cover;
}


a {
	text-decoration: none; /* Отключение подчеркивания ссылок */
	color: #FFFACD; /* Цвет текста */
}

fieldset {
	width: 650px; /* Ширина в пикселах */
}

h2 {
	color: #000000; /* Цвет текста */
	font-size: 18px; /* Размер шрифта */
	font-weight: 400; /* Насыщенность шрифта */
	background: #eaeaea; /* цвет фона текста */
}

.short_description {
	color: #484343; /* Цвет текста */
	font-size: 14px; /* Размер шрифта */
	font-style: italic; /* Начертание шрифта */
	line-height: 16px; /* Высота текста */
	font-weight: 900; /* Насыщенность шрифта */
}

.detailed_description {
	color: #484343; /* Цвет текста */
	font-size: 16px; /* Размер шрифта */
	font-weight: 400; /* Насыщенность шрифта */
	line-height: 24px; /* Высота текста */
	text-align: left; /* Выравнивание текста по левому краю */
}

.characteristics {
	font-family: fantasy; /* Стиль шрифта */
}


.video {
	margin: 10px 20px;
	border: 5px groove #CDCDC1; /* ширина бордюра, стиль и цвет рамки */
	border-radius: 5px;
}

.catalog {
	list-style-type: none; /* Отключение отрибутов списка */
}

.catalog li a {
	color: #838B83; /* Цвет текста */
	font-size: 24px; /* Размер шрифта */
	font-weight: 900; /* Насыщенность шрифта */
}

.footer_text {
	margin: 25px 50px;
}


.content_catolog {
	margin: 150px 50px;
}

.footer_catolog {
	position: absolute;
	left: 0;
	width: 100%;
	background: #008080;
}

.header_catolog {
	position:fixed;
	left: 0;
	top:0;
	width:100%;
	background: #008080;
}

.header_text {
	margin: 10px 15px;
}

.header_catolog a .logo {
	margin: 0px 45px;
}

/*================================*/

button.buy {
	color: #fff; /* цвет текста */
	text-decoration: none; /* убирать подчёркивание у ссылок */
	user-select: none; /* убирать выделение текста */
	background: #008080; /* фон кнопки */
	padding: .7em 1.5em; /* отступ от текста */
	outline: none; /* убирать контур в Mozilla */
}
button.buy:hover {
	background: rgb(232,95,76);
}
button.buy:active {
	background: rgb(152,15,0);
}
/*=====================================*/

.block {
	display: inline-flex;
	
}