@charset "utf-8";
	
body {
	/*background-color: #f8f8f8; /* Фоновый цвет */
	background: url(../img/INSPIRE.png) no-repeat center fixed;
	background-size: cover;
}

.menu {
	list-style-type: none; /* Отключение отрибутов списка */
	color: #BEBEBE; /* Цвет текста */
	font-family: serif; /* Стиль шрифта */
	font-weight: bold; /* Начертание шрифта */
	font-size: 20px; /* Размер шрифта */
}
.menu li {
	display: inline; /* Расположение списка по горизонтали */
	margin-right: 25px; /* Отступ в право */
	border-color: #708090; /* Цвет бордюра */
	border-style: outset; /* Стиль бордюра */
	border-width: 3px; /* Ширина рамки */
	border-radius: 8px; /* Закругление бордюра */
	padding: 5px; /* Отступ текста от бордюра */
}
.menu li a {
	color: #000000 /* Цвет текста */
}

a {
	text-decoration: none; /* Отключение подчеркивания ссылок */
	color: #6495ED; /* Цвет текста */
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #008080;
}

.footer_text {
	margin: 25px 50px;
}

.header {
	position:fixed;
	left: 0;
	top:0;
	width:100%;
	background: #008080;
}

.content {
	margin: 150px 50px;
	color: 	#008B8B;
}

.header_text {
	margin: 10px 15px;
}

.menu .logo {
	border-style: none;
}

/*======================*/